
html,
body{
    height: 100%;
    font-family: Quicksand,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    display: block;
    font-weight: 300;
    color: #35495e;
    letter-spacing: 1px;
    .el-container{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .el-main{
        // overflow: hidden;
        display: flex;
        height: 100%;
        flex-direction: column;
        .wrapper{
            // height: 100%;
            // display: flex;
            // flex-direction: column;
            // flex: 1;
            main{
                flex: 1;
            }
        }
    }
    .main-section{
        box-shadow: 0 0 5px 1px #ddd!important;
    }
    .figure{
        display: inline-block;
    }
    
}